.common_button_search {
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background-color:#f3f3f3;
        -webkit-border-top-left-radius:0px;
        -moz-border-radius-topleft:0px;
        border-top-left-radius:0px;
        -webkit-border-top-right-radius:0px;
        -moz-border-radius-topright:0px;
        border-top-right-radius:0px;
        -webkit-border-bottom-right-radius:0px;
        -moz-border-radius-bottomright:0px;
        border-bottom-right-radius:0px;
        -webkit-border-bottom-left-radius:0px;
        -moz-border-radius-bottomleft:0px;
        border-bottom-left-radius:0px;
        text-indent:0;
        border:1px solid #b8bdc2;
        display:inline-block;
        color:#222222;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        font-style:normal;
        height:40px;
        line-height:40px;
	padding:0 25px 0 25px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #ffffff;
}
.common_button_search:hover {
        background-color:#e8e8e8;
}
.common_button_search:active {
        position:relative;
        top:1px;
}


.common_button_bar_search {
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background-color:#f3f3f3;
        -webkit-border-top-left-radius:0px;
        -moz-border-radius-topleft:0px;
        border-top-left-radius:0px;
        -webkit-border-top-right-radius:0px;
        -moz-border-radius-topright:0px;
        border-top-right-radius:0px;
        -webkit-border-bottom-right-radius:0px;
        -moz-border-radius-bottomright:0px;
        border-bottom-right-radius:0px;
        -webkit-border-bottom-left-radius:0px;
        -moz-border-radius-bottomleft:0px;
        border-bottom-left-radius:0px;
        text-indent:0;
        border:1px solid #b8bdc2;
        display:inline-block;
        color:#222222;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        font-style:normal;
        height:35px;
        line-height:35px;
	padding:0 12px 0 12px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #ffffff;
}
.common_button_bar_search:hover {
        background-color:#e8e8e8;
}
.common_button_bar_search:active {
        position:relative;
        top:1px;
}



