
/*----------------------------
        Container & textbox
-----------------------------*/


#container_sl{
        margin: 0 auto;
        position:relative;
        text-shadow:1px 1px 0 rgba(255,255,255,0.5);
}
 

 
